body {
    background-color: rgba(14, 14, 14, 0.526);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

/* MENU INFORMATIVO */
header nav {
    background-color: rgb(240, 187, 25);
   
}
header nav ul li{
    list-style: none;
    display: inline-block;
    width: 24.5%;
    
}
header nav ul li a{
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-align: center;
   padding: 0.2em 0.4em;
   transition: all 0.2 ease;

}

header nav ul li a:hover {
    background-color: rgb(0,0,0,0.3);
}


/* ICONO DE INFORMACION  */

header nav ul li .logowhatsapp {
width: 14px;
}
header nav ul li .logomaps{
    width: 14px;
}
header nav ul li .iconotelefono{
    width: 14px;
}
header nav ul li .iconoreloj{
    width: 14px;
}


/* LOGOS  */
header {
    background-color: rgba(74, 70, 70, 0.892);
   margin: 0;
   padding: 0;
    
    
}
header .flex-container{
    display: flex;
    /* justify-content: space-between; */


}
header .logo-container {
    width: 250px;
 


}
header .letralogo-container{
    margin: auto;
    width: 450px;
    height: 150px;
    

}
/* BUSCADOR */

.input-group {
    margin-top: 140px;
    width: 400px;
height: 10px;
}

/* BARRA DE NAVEGACION */
nav {
    background-color: rgb(143, 91, 255);
    margin-bottom: 2em;
}
 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
   
  
}
nav li {
    display: inline-block;
    width: 16.3%;
    
    
}
 .barranav nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}
 .barranav nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

/* ESTILO FOOTER  */
footer{
    background-color: gray;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

main{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
  margin-right: 10px;


}



/* GALERIA EN ANIMACION */
.slider{
    width: 100%;
    overflow: hidden;
   
}

.slider ul{
    display: flex;
    padding:10px;
    width: 500%;
    animation: cambio 30s infinite;
    animation-direction: alternate;
}

 .slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;

}
@keyframes cambio {
    10% {margin-left: 0;}
    20% {margin-left: 0;}

    20% {margin-left: -100%;}
    40% {margin-left: -100%;}

    40% {margin-left: -200%;}
    60% {margin-left: -200%;}

    60% {margin-left: -300%;}
    80% {margin-left: -300%;}

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}

}

/* .fle-container div {
    
    display: flex;
    justify-content:left;
    
    
}
.fle-container div img{
    width: 340px;
    margin-left: 10px;
 
} */

