body {
    background-color: rgb(14, 14, 14);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;


}
.grid-informacion {
    background-color: #ff731b;
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    text-align: center;
  
}
.grid-informacion img{
    width: 14px;
    padding: 0;
    margin: 0;
}
.grid-informacion p a{
    color: #fff;
    text-decoration: none;
    transition: all 0.2 ease;
}
.grid-informacion  p:hover{
    background-color: rgb(0,0,0,0.3);
}
.grid-informacion p{
    margin: 0;
    padding: 0;
}

header {
   background-image: url(../imagenes/galeria/textura-fondo.jpg);
   background-size: 100%;
    margin: 0;
   padding: 0;
    
    
}
header .grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 10px;



}
header .logo-container {
    width: 250px;
 


}
header .letralogo-container{
    margin: auto;
    width: 450px;
    height: 150px;
    


}




/* BUSCADOR */

.input-group {
margin: auto;
width: 350px;
height: 40px;
}

/* BARRA DE NAVEGACION */


.grid-barranav nav {
background-color: rgb(143, 91, 255);
margin-bottom: 2px;
}

.grid-barranav nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;


}
.grid-barranav nav li {
    display: inline-block;
    width: 16.3%;
    
    
}
 .grid-barranav nav ul li a {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.6em 0.4em;
   
}
 .grid-barranav nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

/* ESTILO FOOTER  */
footer{
    background-color: rgb(53, 44, 44);
    clear: both;
    color: #ffffff;
    padding: 3em 0;
    margin-top: 1em;
    margin:auto;
    /* text-align:center; */
}
.grid-footer {
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(100px, 1fr));
    gap: 180px;
    padding: auto;
    font-size: 20px;
    margin-bottom: 40px ;
   
}
.grid-footer ul {
   text-align: center;
   list-style: none;
}
.grid-footer  img{
    width: 40px;
   
}
footer p{ 
   
    margin-top:30px ;
    text-align: center;
   
}

.flex-logosredes img{
    height: 100px;
}
.flex-logosredes{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

}


/* CONTENIDO MAIN  */
.container{
    overflow: hidden;
    margin: 1px;
    
    padding: 1px;
    
}
main {
background-color: rgba(255, 255, 255, 0.958);
float: left;
width: 85%;
margin: auto;
padding: auto;


}

/* CONTENIDO DE PUBLICIDAD  */
aside .flex-publicidad img{
    width: 225px;

}
aside .flex-publicidad2 img{
    width: 225px;
}
aside{
    float: left;
    width: 14.9%;
    margin-left: 0.1%;
} 
/* COTIZACION EN DOLARES */
aside .grid-cotizacion{
    background-image: url(../imagenes/galeria/cotizacion.png);
    background-color: #1b36ff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 100px;

    
}


/* GALERIA EN ANIMACION */
.slider{
    width: 100%;
    overflow: hidden;
   
}

.slider ul{
    display: flex;
    padding:1px;
    width: 500%;
    animation: cambio 30s infinite;
    animation-direction: alternate;
}

 .slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;

}
@keyframes cambio {
    10% {margin-left: 0;}
    20% {margin-left: 0;}

    20% {margin-left: -100%;}
    40% {margin-left: -100%;}

    40% {margin-left: -200%;}
    60% {margin-left: -200%;}

    60% {margin-left: -300%;}
    80% {margin-left: -300%;}

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}

}
/* LOGO DE MARCAS */
.logosmarcas .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(100px, 1fr));
    gap: 25px; 
   margin-top: 10px;
   margin-left: 50px;

}
.logosmarcas .grid-container img{
    height: 40px;
    width: 100px;
}


/* Catalago Productos */
.cata{
    text-align: center;
    background-color: #ff731b;
    font-style: italic;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(350px, 1fr));
    gap: 80px;
    padding: auto;
    margin: auto;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{

    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.price{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border-radius: 10px;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}


/* @MEDIA QUERY PARA SMARTPHONE */


@media (max-width:767px)
{
    /* HEADER DE BARRA DE NAVEGACION MEDIA QUERY */
    /* LOGOS MEDIA QUERY:  */
    .grid-container img{
        margin-top: 60px;
    }
    header .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(150px, 1fr));
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;

    }
    header .logo-container{
        width: 160px;
    
    }
    .grid-barranav{
        display: none;
    }
    header .letralogo-container{
        /* margin: auto; */
        width: 180px;
        height: 75px;
    }
    /* BUSCADOR MEDIA QUERY*/
   header .input-group {
    margin: 15%;
padding: auto;
   width: 310px;
    height: 40px;
    }
    .grid-barranav nav .grid-bar{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 80px;
    }
    /* FOOTER MEDIA QUERY */
     .grid-footer1{
        
        background-color: rgb(0, 0, 0);
        clear: both;
        color: #ffffff;
        padding: 0.1em 0;
        margin:1px;
        /* text-align:center; */
    }
    footer .grid-footer {
        margin:auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 
        minmax(300px, 1fr));
        gap: 20px;
        padding: auto;
       
    }
    footer .grid-footer ul  {
       text-align: center;
       list-style: none;
    }
    footer .grid-footer  img{
        width: 250px;
       
    }
    footer p{ 
        margin: auto;
        text-align: center;
    }
    /* LOGOS DE MARCAS MEDIA QUERY */
span .logosmarcas .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(98px, 1fr));
    gap: 9px; 

    }
    span .logosmarcas .grid-container img{
        height: 40px;
        width: 99px;
    }
    /* CATALO DE PRODUCTOS MEDIA QUERY  */
.cata{
    font-size: 22px;
}
main .item img{

    width: 97%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}
/* MENU RESPONSIVE  */
.menu-reponsive nav a {
    color: #fff;
}
.grid-logosempresa {
    display: none;
}
main .slider{
    display: none;
}
/* ASIDE BANNER  */
aside {
    display: none;
}
main {
    width: 100%;
}
/* GALERIA EN ANIMACION */
.slider-mobile{
    width: 100%;
    overflow: hidden;
   
}

.slider-mobile ul{
    display: flex;
    padding:1px;
    width: 400%;
    animation: cambio 30s infinite;
    animation-direction: alternate;
}

 .slider-mobile li{
    width: 100%;
    list-style: none;
}

.slider-mobile img{
    width: 100%;

}
@keyframes cambio {
    10% {margin-left: 0;}
    25% {margin-left: 0;}

    25% {margin-left: -100%;}
    50% {margin-left: -100%;}

    50% {margin-left: -200%;}
    75% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}
.grid-informacion{
    display: none;
}

     
}
/* ELEMENTO FIJO PARA MEDIA QUERY DE MAX 600PX */
.flex-elementofijo{
    background-color: #ff731b;
    margin-left: 40%;
    position:fixed;
    border-radius: 10px;
    padding: 6px;
    font-size: 20px;
}
.flex-elementofijo img{
    width: 20px;
}
.flex-elementofijo a{
    text-decoration: none;
}

   
@media (min-width:768px){
    .flex-elementofijo{
        display: none;
    }
    .slider-mobile{
        display: none;
    }
    .menu-reponsive{
        display: none;
    }
    
}
/* MEDIDA PARA TABLET  */
@media (min-width: 767px) and (max-width: 1023px){
    .grid-container .letralogo-container {
        width: 180px;
        height: 90px;
     }
     .input-group{
        width: 300px;
     }
     aside {
        display: none;
     }
     main {
      width: 100%;
     }

}

/* PAGINA DE SERVICIO  */

.grid-tarjetas{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 1fr));
    gap: 9px; 
   margin: auto;
   padding: 50px;
   text-align: center;

}
.flex-servi{
    background-color: #000000a9;
    display: flex;
    justify-content: center;
}
.flex-servi h3{
    color: #fff;
    margin: 10px;
   
}