body {
    background-color: rgba(14, 14, 14, 0.526);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
   
    
}

/* MENU INFORMATIVO */
header nav {
    background-color: rgb(240, 187, 25);  
}

header nav ul li{
   
list-style: none;
 width: auto;
  
    
}
header nav ul li a{
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-align: center;
   padding: 0.2em 0.4em;
   transition: all 0.2 ease;

}

header nav ul li a:hover {
    background-color: rgb(0,0,0,0.3);

}




/* ICONO DE INFORMACION  */

header nav ul li .logowhatsapp {
width: 14px;
}
header nav ul li .logomaps{
    width: 14px;
}
header nav ul li .iconotelefono{
    width: 14px;
}
header nav ul li .iconoreloj{
    width: 14px;
}


/* LOGOS  */
header {
    background-color:#000;
    margin: 0;
   padding: 0;
    
    
}
header .grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 10px;



}
header .logo-container {
    width: 250px;
 


}
header .letralogo-container{
    margin: auto;
    width: 450px;
    height: 150px;
    


}




/* BUSCADOR */

.input-group {
   margin: auto;
    width: 350px;
height: 40px;
}

/* BARRA DE NAVEGACION */


nav {
    background-color: rgb(143, 91, 255);
    margin-bottom: 2em;
}
 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
   
  
}
nav li {
    display: inline-block;
    width: 16.3%;
    
    
}
 .grid-barranav nav ul li a {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.6em 0.4em;
   
}
 .grid-barranav nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

/* ESTILO FOOTER  */
footer{
    background-color: rgb(2, 0, 0);
    clear: both;
    color: #ffffff;
    padding: 3em 0;
    margin-top: 1em;
    margin:auto;
    /* text-align:center; */
}
.grid-footer {
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(100px, 1fr));
    gap: 180px;
    padding: auto;
   
}
.grid-footer ul {
    margin: auto;
   text-align: center;
   list-style: none;
}
.grid-footer  img{
    width: 40px;
   
}
footer p{ 
    margin: auto;
    margin-top:100px ;
    text-align: center;
}



main{
background-color: rgba(255, 255, 255, 0.958);
margin-left: 10px;
margin-right: 10px;
}


/* GALERIA EN ANIMACION */
.slider{
    width: 100%;
    overflow: hidden;
   
}

.slider ul{
    display: flex;
    padding:10px;
    width: 500%;
    animation: cambio 30s infinite;
    animation-direction: alternate;
}

 .slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;

}
@keyframes cambio {
    10% {margin-left: 0;}
    20% {margin-left: 0;}

    20% {margin-left: -100%;}
    40% {margin-left: -100%;}

    40% {margin-left: -200%;}
    60% {margin-left: -200%;}

    60% {margin-left: -300%;}
    80% {margin-left: -300%;}

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}

}
/* LOGO DE MARCAS */
.logosmarcas .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 20px; 
    margin: 10px;
}
.logosmarcas .grid-container img{
    height: 60px;
    width: 130px;
}


/* Catalago Productos */
.cata{
    text-align: center;
    background-color: #ff731b;
    font-style: italic;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(350px, 1fr));
    gap: 80px;
    padding: auto;
    margin: auto;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{

    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.price{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border-radius: 10px;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}


/* @MEDIA QUERY header logos empresa */


@media (max-width:390px)
{
    /* HEADER DE BARRA DE NAVEGACION MEDIA QUERY */
    /* LOGOS MEDIA QUERY:  */
    header .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(150px, 1fr));
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  

    }
    header .logo-container{
        width: 160px;
    
    }
    header .letralogo-container{
        /* margin: auto; */
        width: 180px;
        height: 75px;
    }
    /* BUSCADOR MEDIA QUERY*/
   header .input-group {
    margin: 15%;
padding: auto;
   width: 310px;
    height: 40px;
    }
    .grid-barranav nav .grid-bar{
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 80px;
    }
    /* FOOTER MEDIA QUERY */
     .grid-footer1{
        
        background-color: rgb(0, 0, 0);
        clear: both;
        color: #ffffff;
        padding: 0.1em 0;
        margin:1px;
        /* text-align:center; */
    }
    footer .grid-footer {
        margin:auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 
        minmax(300px, 1fr));
        gap: 20px;
        padding: auto;
       
    }
    footer .grid-footer ul  {
       text-align: center;
       list-style: none;
    }
    footer .grid-footer  img{
        width: 250px;
       
    }
    footer p{ 
        margin: auto;
        text-align: center;
    }
    /* LOGOS DE MARCAS MEDIA QUERY */
    span .logosmarcas .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 
        minmax(98px, 1fr));
        gap: 9px; 
       
    }
    span .logosmarcas .grid-container img{
        height: 40px;
        width: 99px;
    }
    /* CATALO DE PRODUCTOS MEDIA QUERY  */
.cata{
    font-size: 22px;
}
main .item img{

    width: 97%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}
     
}
   

